.rbc-agenda-view {
  @apply overflow-hidden rounded-xl border;
  display: flex;
  flex-direction: column;
}

.rbc-agenda-view:has(.rbc-agenda-empty) {
  @apply border-none;
}

.rbc-agenda-empty {
  @apply text-secondary;
}

.rbc-agenda-table > tbody * {
  @apply !bg-primary;
}

.rbc-agenda-table > tbody .bg-brand-solid > .rbc-agenda-event-cell {
  @apply !bg-success_card;
}

.rbc-agenda-table > tbody .bg-error-solid > .rbc-agenda-event-cell {
  @apply !bg-error_card;
}

.rbc-agenda-table > tbody .bg-secondary-solid > .rbc-agenda-event-cell {
  @apply !bg-secondary_subtle;
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-time-cell,
.rbc-agenda-date-cell {
  @apply text-text-sm;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  @apply border-l;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td.rbc-agenda-date-cell {
  @apply border-l-0;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left-width: 0;
  @apply border-r;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  @apply border-t;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 5px 10px;
  text-align: left;
  @apply border-b;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: " »";
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: "« ";
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-events-container .rbc-event {
  @apply text-text-sm;
}

.rbc-event {
  @apply text-text-xs;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-slot-selecting .rbc-event,
.rbc-slot-selecting .rbc-day-slot .rbc-background-event,
.rbc-day-slot .rbc-slot-selecting .rbc-background-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event-label {
  @apply text-text-xs;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  @apply bg-quaternary text-secondary !m-0 !h-fit !w-full !rounded-[5px] px-[5px] py-0.5 !text-start !text-text-xs;
}

.rbc-row-segment:has(.rbc-show-more) {
  @apply flex p-[5px] pt-0;
}

.rbc-month-view {
  @apply overflow-hidden rounded-xl border;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}

.rbc-month-row + .rbc-month-row {
  border-top-width: 1px;
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0%;
}

.rbc-day-bg + .rbc-day-bg {
  border-left-width: 1px;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right-width: 1px;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  @apply border-b;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-event {
  @apply relative;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999;
}

.rbc-off-range-bg {
  @apply bg-secondary text-disabled;
}

.rbc-header {
  @apply bg-secondary_subtle border-b font-semibold;
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem 3px;
  text-align: center;
  vertical-align: middle;
  font-size: 90%;
  min-height: 0;
}

.rbc-header + .rbc-header {
  border-left-width: 1px;
}

.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right-width: 1px;
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-time-header-cell .rbc-button-link {
  @apply mt-0 size-auto;
}

.rbc-button-link {
  @apply mt-[5px] size-7 rounded-full text-text-sm;
  cursor: pointer;
}

.rbc-now > .rbc-button-link {
  @apply bg-brand-solid font-semibold;
}

.rbc-row-segment:has(.rbc-event) {
  @apply p-[5px] pt-0;
}

.rbc-time-header-content .rbc-row:first-child .rbc-row-segment:has(.rbc-event) {
  @apply pt-[5px];
}

.rbc-row-content {
  @apply flex flex-grow flex-col;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-row-content > .rbc-row:first-child {
  @apply flex-grow;
}

.rbc-row-content-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rbc-row-content-scrollable .rbc-row-content-scroll-container {
  height: 100%;
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.rbc-row-content-scrollable
  .rbc-row-content-scroll-container::-webkit-scrollbar {
  display: none;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-timeslot-group:first-child > .rbc-time-slot:first-child,
.rbc-timeslot-group:first-child .rbc-label:first-child {
  @apply border-none;
}

.rbc-timeslot-group .rbc-label {
  @apply text-secondary flex h-10 items-center justify-end border-t;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-rtl {
  left: 10px;
  right: 0;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  overflow: hidden;
  position: absolute;
}

.rbc-day-slot .rbc-background-event {
  opacity: 0.75;
}

.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  @apply first:border-secondary border-tertiary border-t;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  @apply border-r;
  z-index: 10;
  margin-right: -1px;
}

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  @apply overflow-hidden rounded-xl border;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  text-align: right;
}

.rbc-time-view .rbc-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
  @apply border-l;
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
  @apply border-r;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  @apply border-l;
}

.rbc-time-header > .rbc-row:first-child {
  @apply border-b;
}

.rbc-time-header > .rbc-row.rbc-row-resource {
  @apply border-b;
}

.rbc-time-header-cell {
  @apply flex-none;
}

.rbc-time-header-cell-single-day {
  display: none;
}

.rbc-time-header-content {
  @apply flex min-w-0 flex-grow border-l;
  flex-direction: column;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  @apply border-r;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  @apply border-b;
  flex-shrink: 0;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  @apply border-t;
  overflow-y: auto;
  position: relative;
}

.rbc-time-content > .rbc-time-gutter {
  flex: none;
}

.rbc-time-content > * + * > * {
  @apply border-l;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  @apply border-r;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: hsla(var(--brand-500));
  pointer-events: none;
}

.rbc-toolbar {
  @apply gap-y-5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}

.rbc-btn-group {
  @apply flex -space-x-px;
}

.rbc-btn-group > button {
  @apply relative flex h-fit items-center justify-center gap-2 border px-3 py-2 !text-text-sm font-semibold transition-all active:shadow-focus-ring-gray;
}

.rbc-btn-group > button:first-child {
  @apply rounded-l-md;
}

.rbc-btn-group > button:last-child {
  @apply rounded-r-md;
}

.rbc-btn-group > button.rbc-active {
  @apply relative border-transparent bg-gray-900 text-gray-100 hover:z-30 hover:bg-gray-700 active:bg-gray-900 dark:bg-gray-100 dark:text-gray-900 dark:hover:bg-gray-300 dark:active:bg-gray-100;
}

.rbc-btn-group > button.rbc-active:first-child {
  @apply after:bg-disabled after:absolute after:-right-px after:z-40 after:h-[calc(100%+2px)] after:w-px after:transition-all active:after:bg-[hsla(var(--background))];
}

.rbc-btn-group > button.rbc-active:last-child {
  @apply after:bg-disabled after:absolute after:-left-px after:z-40 after:h-[calc(100%+2px)] after:w-px after:transition-all active:after:bg-[hsla(var(--background))];
}

.rbc-btn-group > button.rbc-active:not(:first-child):not(:last-child) {
  @apply after:bg-disabled before:bg-disabled before:absolute before:-right-px before:z-40 before:h-[calc(100%+2px)] before:w-px before:transition-all after:absolute after:-left-px after:z-40 after:h-[calc(100%+2px)] after:w-px after:transition-all active:before:bg-[hsla(var(--background))] active:after:bg-[hsla(var(--background))];
}

.rbc-btn-group > button:not(.rbc-active) {
  @apply hover:bg-secondary text-secondary hover:text-primary active:bg-primary bg-primary hover:border-primary relative z-10 hover:z-30;
}

@media (max-width: 767px) {
  .rbc-toolbar {
    flex-direction: column;
  }
}
